body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('/static/images/static-green.png');
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px; 
  }
  
  .item {
    flex: 1 1 200px; 
  }
  
  @media (max-width: 600px) {
    .container {
      flex-direction: column; 
    }
  }
  
  .special-numbers-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Отступ между специальными числами и основной таблицей */
}

.roulette-number.special {
    width: 10px; /* Установите желаемую ширину */
    height: 10px; /* Установите желаемую высоту */
    text-align: center;
    border: 1px solid #fff;
    margin-bottom: 10px; /* Отступ между специальными числами */
    background-color: green; /* Зеленый фон для специальных чисел */
    color: white; /* Белый текст */
}

  .roulette-table-container {
    width: 99vw; /* Ширина составляет 97.5% от ширины окна просмотра */
    height: 70vh; /* Высота составляет 50% от высоты окна просмотра */
    background-image: url('/static/images/static-green.png');
    padding: 15px;
    border-radius: 15px; /* Скругление углов контейнера */
  }
  
  .roulette-table {
    width: 99%;
    border-collapse: collapse;
  }
  
  .roulette-table td {
    width: 1px; /* Уменьшение ширины для учета ячейки '00' */
  
    height: 40%;
    text-align: center;
    color: white;
    border: 1px solid #fff;
    padding: 10px 0; /* Увеличение высоты ячеек */
  }
  
  .green {
    background-color: #1eaa0bfd; /* Более темный оттенок зеленого для реализма */
  }
  
  .red {
    background-color: #d40000; /* Насыщенный красный цвет */
  }
  
  .black {
    background-color: #000;
  }
  .hsla {
    background-color: #aaff9f0c; /* Более темный оттенок зеленого для реализма */
  }
  
  .outside-bets {
    height: 30px;
    display: flex;
    justify-content: space-around; /* Равномерное распределение ставок */
    margin-top: 10px;
  }
  
  .outside-bets {
    height: 15%;
    display: flex; /* Устанавливаем отступы для контейнера, если нужно */
    padding-left: 40px; /* Больший отступ с левого края */
    padding-right: 40px; /* Меньший отступ с правого края */
    margin-top: 10px; /* Верхний отступ без изменений */
    text-align: center;
  }
  
  .outside-bet {
    flex-grow: 1;
    text-align: center;
    background: hsla(145, 87%, 79%, 0.068);
    color: #ffffff;
    line-height: 50px;
    border: 2px solid #fff;
    /* Отступы между ставками */
    margin: 0 2px; /* Если нужно изменить, установите свои значения */
  }
  
  /* Устанавливаем ширину каждой ставки, чтобы они были одинаковыми */
  .outside-bet {
    flex: 0 0 calc((100% - 40px) / 3); /* Вычитаем общие отступы между элементами (например, 40px) и делим на 3 */
  }
  
  /* Обнуляем отступы для крайних элементов, если это необходимо */
  .outside-bets .outside-bet:first-child {
    margin-left: 0;
  }
  
  .outside-bets .outside-bet:last-child {
    margin-right: 0;
  }
  
  .outside-gets {
    height: 50px;
    display: flex;
    justify-content: space-around; /* Равномерное распределение ставок */
    margin-top: 10px;
  }
  
  .outside-gets {
    display: flex;
    /* Устанавливаем отступы для контейнера, если нужно */
    padding-left: 40px; /* Больший отступ с левого края */
    padding-right: 40px; /* Меньший отступ с правого края */
    margin-top: 10px; /* Верхний отступ без изменений */
  }
  
  .outside-get {
    flex-grow: 1;
    text-align: center;
    background: hsla(145, 87%, 79%, 0.068);
    color: #ffffff;
    line-height: 50px;
    border: 2px solid #fff;
    /* Отступы между ставками */
    margin: 0 2px; /* Если нужно изменить, установите свои значения */
  }
  
  /* Устанавливаем ширину каждой ставки, чтобы они были одинаковыми */
  .outside-get {
    flex: 0 0 calc((100% - 40px) / 6); /* Вычитаем общие отступы между элементами (например, 40px) и делим на 3 */
  }
  
  /* Обнуляем отступы для крайних элементов, если это необходимо */
  .outside-gets .outside-get:first-child {
    margin-left: 0;
  }
  
  .outside-gets .outside-get:last-child {
    margin-right: 0;
  }
  
  
  .diamond {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%; /* Скругление углов для алмазов */
  }
  
  .red-diamond {
    background-image: url('/static/images/path-to-red-diamond-image.png');
  }
  
  .black-diamond {
    background-image: url('/static/images/path-to-black-diamond-image.png');
  }
  

.roulette-number:hover {
    background-color: #00630500;
}
