body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    width: 100%; /* Обеспечивает, что body занимает всю ширину экрана */
    height: 100%; /* Обеспечивает, что body занимает всю высоту экрана */
    flex-direction: column; /* Делаем основное направление колонны вертикальным */
    background-image: url('/static/images/static-green.png');
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #31d100;
    text-align: center;    text-align: center; /* Центрируем содержимое */
}

form {
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 6px;
    margin-right: 6px;
    border: 1px solid #000000;
    border-radius: 40px;
    text-align: center; /* Центрируем содержимое */
}

button {
    padding: 10px 15px;
    background-color: #af2020d3;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #30d806;
}

#loadingIndicator {
  color: #ff0000;
  font-weight: bold;
}

#error {
  color: red;
  font-weight: bold;
}

#predictions {
  display: flex; /* Используем Flexbox для выравнивания дочерних элементов */
  flex-wrap: nowrap; /* Запрещаем перенос элементов на новую строку */
  overflow-x: auto; /* Добавляем горизонтальную прокрутку, если элементы не помещаются */
  justify-content: flex-start; /* Выравниваем элементы к началу контейнера */
  align-items: center; /* Центрируем элементы по вертикали */
}

.prediction-item {
  display: flex; /* Для выравнивания текста и меток внутри */
  flex-direction: column; /* Элементы внутри .prediction-item выстраиваются вертикально */
  justify-content: center; /* Центрируем содержимое по вертикали */
  align-items: center; /* Центрируем содержимое по горизонтали */
  margin: 2px; /* Небольшой отступ между элементами предсказания */
}

.prediction-number, .probability {
  display: inline-block; /* Элементы будут в одной строке внутри .prediction-item */
  padding: 5px 5px; /* Небольшой отступ вокруг текста */
  border-radius: 20px; /* Округлённые углы */
  color: #ffffff; /* Белый цвет текста */
  font-weight: bold; /* Жирный шрифт для лучшей читаемости */
  margin: 1px; /* Небольшой отступ между числами */
}

.label {
  font-size: 12px; /* Меньший размер шрифта для меток */
  padding: 2px 4px; /* Небольшой отступ вокруг меток */
  border-radius: 10px; /* Округлённые углы для меток */
  margin-top: 5px; /* Отступ сверху для отделения меток от чисел */
}

.green-background { background-color: #28a745; }
.red-background { background-color: #dc3545; }
.black-background { background-color: #000000; }

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px; 
  }
  
  .item {
    flex: 1 1 200px; 
  }
  
  @media (max-width: 600px) {
    .container {
      flex-direction: column; 
    }
  }
  
  .special-numbers-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Отступ между специальными числами и основной таблицей */
}



.roulette-table {
  border-collapse: collapse;
  min-width: 600px; /* Минимальная ширина для больших экранов */
}

.roulette-table td {
  width: 90px; /* Ширина ячеек в процентах от ширины экрана */
  height: 40px; /* Высота, чтобы ячейки были квадратными */
  text-align: center;
  color: rgba(255, 255, 255, 0.856);
  border: 8px solid #ffffff;
  padding: 10px 0;
  font-size: 32px; /* Размер шрифта */
}

.guessed-numbers-container {
  margin-top: 20px; /* Отступ от стола рулетки */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.guessed-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* или другой размер, который тебе нужен */
  height: 50px; /* или другой размер, который тебе нужен */
  border-radius: 50%; /* Делает элемент круглым */
  margin: 5px;
  font-size: 14px; /* Размер шрифта для чисел */
  color: white; /* Цвет текста */
  font-weight: bold; /* Жирность текста */
}

.red-background { background-color: red; }
.black-background { background-color: black; }
.green-background { background-color: green; }
.green-background { background-color: orange; }

.menu-container {
  position: relative;
}

.menu-button {
  background-color: #17a2ff;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none; /* Изначально скрыть выпадающее меню */
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Убрать стандартные отступы */
  display: flex;
  flex-direction: column; /* Элементы списка в столбик */
}

.dropdown-menu ul li {
  margin-right: 0; /* Убрать отступы между пунктами меню */
}

.dropdown-menu ul li a {
  display: block;
  padding: 10px;
  background-color: #76ff7d00;
  text-decoration: none;
  color: white;
}

.dropdown-menu ul li a:hover {
  background-color: #29580ac0;
}


body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #ffffff;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.main {
  padding: 20px;
}

.guide-section {
  margin-bottom: 20px;
}

.guide-section h2 {
  color: #ff0000c0;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}

.guide-section p, .guide-section ul {
  font-size: 16px;
  line-height: 1.6;
}

.guide-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Дополнительные стили для кнопок и других элементов */
/* Стили для FAQ */
.faq-section {
  margin-bottom: 20px;
}

.faq-section h2 {
  background-color: #007700;
  color: white;
  text-align: center;
  padding: 10px 15px;
  margin: 0;
  border-radius: 5px;
}

.faq-section dl {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #dddddd00;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
}

.faq-section dt {
  padding: 10px 0;
  border-bottom: 1px solid #06a5369c;
  font-weight: bold;
  cursor: pointer;
}

.faq-section dd {
  padding: 10px 0 20px 0;
  margin-left: 20px;
  display: none; /* Скрыть ответы по умолчанию */
}

/* Стили для отображения ответа при активации вопроса */
.faq-section dt.active + dd {
  display: block; /* Показать ответ */
}

/* Стили для вопросов при наведении */
.faq-section dt:hover {
  background-color: #008521;
  color: #ffffff;
}

.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.btn:last-child {
  margin-right: 0;
}

.forgot-password {
  text-align: center;
  margin-top: 20px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

/* Стили для экранов шире 600px */
@media (min-width: 600px) {
  #predictions {
    margin-bottom: 2px; /* Больший отступ для больших экранов */
  }

  .roulette-table-container {
    margin-top: 2px; /* Больший отступ для больших экранов */
  }
}
@media (max-width: 600px) {
  .roulette-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh; /* Высота контейнера равна высоте видимой части экрана */
    width: 100vw; /* Ширина контейнера равна ширине видимой части экрана */
    overflow: hidden; /* Скрываем содержимое, выходящее за пределы контейнера */
    margin-top: 0px; /* Меньший отступ для маленьких экранов */
  }

  .roulette-table {
    transform: rotate(90deg);
    transform-origin: center;
  }

  .roulette-table td {
    width: calc(100vw / 13); /* Ширина ячейки равна 1/13 ширины экрана */
    height: 75px; /* Высота ячейки фиксирована */
    text-align: center;
    color: rgba(255, 255, 255, 0.514);
    border: 8px solid #ffffff;
    padding: 10px 0;
    font-size: 24px;
    box-sizing: border-box; /* Включаем границы и padding в общий размер ячейки */
  }

  .roulette-number {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}

#predictions {
  display: flex; /* Используем Flexbox для выравнивания дочерних элементов */
  flex-wrap: nowrap; /* Запрещаем перенос элементов на новую строку */
  overflow-x: auto; /* Добавляем горизонтальную прокрутку, если элементы не помещаются */
  justify-content: flex-start; /* Выравниваем элементы к началу контейнера */
  align-items: center; /* Центрируем элементы по вертикали */
  margin-bottom: 0; /* Убираем отступ снизу */
}

.prediction-item {
  display: flex; /* Для выравнивания текста и меток внутри */
  flex-direction: column; /* Элементы внутри .prediction-item выстраиваются вертикально */
  justify-content: center; /* Центрируем содержимое по вертикали */
  align-items: center; /* Центрируем содержимое по горизонтали */
  margin: 2px; /* Небольшой отступ между элементами предсказания */
  margin-bottom: 0px; /* Уменьшаем отступ снизу */
}

.prediction-number, .probability {
  display: inline-block; /* Элементы будут в одной строке внутри .prediction-item */
  padding: 3px 3px; /* Небольшой отступ вокруг текста */
  border-radius: 20px; /* Округлённые углы */
  color: #ffffff; /* Белый цвет текста */
  font-weight: bold; /* Жирный шрифт для лучшей читаемости */
  margin: 1px; /* Небольшой отступ между числами */
  font-size: 15px; /* Уменьшаем размер шрифта */
}

.label {
  font-size: 12px; /* Меньший размер шрифта для меток */
  padding: 1px 2px; /* Небольшой отступ вокруг меток */
  border-radius: 10px; /* Округлённые углы для меток */
  margin-top: 5px; /* Отступ сверху для отделения меток от чисел */
}


/* Стили для ячеек '0' и '00', если требуется их отличать */
.roulette-table .green {
  background-color: #1eaa0bfd;
  height: 15px; /* Высота для '0' и '00', если нужно отличать */
}
  
  .green {
    background-color: #1eaa0bfd; /* Более темный оттенок зеленого для реализма */
  }
  
  .red {
    background-color: #d40000; /* Насыщенный красный цвет */
  }
  
  .black {
    background-color: #000;
  }

  .orange {
    background-color: #ffa500;
  }
  .hsla {
    background-color: #aaff9f0c; /* Более темный оттенок зеленого для реализма */
  }
  
  .outside-bets {
    height: 35px;
    display: flex;
    justify-content: space-around; /* Равномерное распределение ставок */
    margin-top: 10px;
  }
  
  .outside-bets {
    height: 4%;
    display: flex; /* Устанавливаем отступы для контейнера, если нужно */
    padding-left: 35px; /* Больший отступ с левого края */
    padding-right: 35px; /* Меньший отступ с правого края */
    margin-top: 3px; /* Верхний отступ без изменений */
    text-align: center;
  }
  
  .outside-bet {
    flex-grow: 1;
    text-align: center;
    background: hsla(145, 87%, 79%, 0.068);
    color: #ffffff;
    line-height: 20px;
    border: 2px solid #fff;
    /* Отступы между ставками */
    margin: 0 2px; /* Если нужно изменить, установите свои значения */
  }
  
  /* Устанавливаем ширину каждой ставки, чтобы они были одинаковыми */
  .outside-bet {
    flex: 0 0 calc((100% - 40px) / 3); /* Вычитаем общие отступы между элементами (например, 40px) и делим на 3 */
  }
  
  /* Обнуляем отступы для крайних элементов, если это необходимо */
  .outside-bets .outside-bet:first-child {
    margin-left: 0;
  }
  
  .outside-bets .outside-bet:last-child {
    margin-right: 0;
  }
  
  .outside-gets {
    height: 35px;
    display: flex;
    justify-content: space-around; /* Равномерное распределение ставок */
    margin-top: 10px;
  }
  
  .outside-gets {
    height: 4%;
    display: flex;
    /* Устанавливаем отступы для контейнера, если нужно */
    padding-left: 20px; /* Больший отступ с левого края */
    padding-right: 20px; /* Меньший отступ с правого края */
    margin-top: 3px; /* Верхний отступ без изменений */
  }
  
  .outside-get {
    flex-grow: 1;
    text-align: center;
    background: hsla(145, 87%, 79%, 0.068);
    color: #ffffff;
    line-height: 20px;
    border: 2px solid #fff;
    /* Отступы между ставками */
    margin: 0 2px; /* Если нужно изменить, установите свои значения */
  }
  
  /* Устанавливаем ширину каждой ставки, чтобы они были одинаковыми */
  .outside-get {
    flex: 0 0 calc((100% - 40px) / 6); /* Вычитаем общие отступы между элементами (например, 40px) и делим на 3 */
  }
  
  /* Обнуляем отступы для крайних элементов, если это необходимо */
  .outside-gets .outside-get:first-child {
    margin-left: 0;
  }
  
  .outside-gets .outside-get:last-child {
    margin-right: 0;
  }
  
  
  .diamond {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%; /* Скругление углов для алмазов */
  }
  
  .red-diamond {
    background-image: url('/static/images/path-to-red-diamond-image.png');
  }
  
  .black-diamond {
    background-image: url('/static/images/path-to-black-diamond-image.png');
  }
  

.roulette-number:hover {
    background-color: #00630500;
}

.footer-divider {
  border: 1px;
  height: 4px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.027), rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.034));
  margin-bottom: 5px;
}

footer {
  background-color: #3333336c;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  width: 90%;
  margin: 0 auto;
  font-size: 0.9em;
}

footer a {
  color: #ff0000;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
.table-number.selected {
  background-color: #4CAF50; /* Зеленый */
  color: rgb(0, 0, 0);
}


/* registration.css */
.registration-form-container {
  max-width: 370px;
  margin: 20px auto;
  padding: 20px;
  background: #dfdfdf6c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"],
.form-field select {
  width: 90%;
  padding: 10px;
  border: 2px solid #a5a5a5;
  border-radius: 4px;
}

/* Стили для кнопки отправки формы */
.submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* Стили для Select2 */
.select2-container--default .select2-selection--single {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 38px;
  padding: 4px;
}
/* ... */

.label {
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.8em;
  margin-left: 4px;
  color: rgb(0, 0, 0);
}

.hot {
  background-color: red;
}

.new {
  background-color: rgb(128, 126, 0);
}

.auth-container {
  box-shadow: none;
  border-radius: 0;
}

.form-actions {
  flex-direction: column;
}

.btn {
  width: 100%;
  margin-bottom: 10px;
}

.btn:last-child {
  margin-bottom: 0;
}

.registration-form-container {
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 15px;
}

.dropdown-menu ul {
  flex-direction: column; /* Элементы списка в столбик */
}



/* Стили для экранов шириной более 768px (например, для планшетов и десктопов) */
@media (min-width: 768px) {
.dropdown-menu ul {
  flex-direction: row; /* Элементы списка в ряд */
}

.dropdown-menu ul li {
  margin-right: 10px; /* Вернуть отступы между пунктами меню */
}
}