body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    flex-direction: column; /* Делаем основное направление колонны вертикальным */
    background-image: url('/static/images/static-green.png');
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #31d100;
    text-align: center;    text-align: center; /* Центрируем содержимое */
}

form {
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 6px;
    margin-right: 6px;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center; /* Центрируем содержимое */
}

button {
    padding: 10px 15px;
    background-color: #af2020d3;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #30d806;
}

#loadingIndicator {
  color: #ff0000;
  font-weight: bold;
}

#error {
  color: red;
  font-weight: bold;
}

.prediction-number {
  display: inline-block;
  padding: 5px 10px; /* Небольшой отступ вокруг текста */
  border-radius: 20px; /* Округлённые углы */
  color: #ffffff; /* Белый цвет текста */
  font-weight: bold; /* Жирный шрифт для лучшей читаемости */
  margin: 2px; /* Небольшой отступ между числами */
}

.green-background { background-color: #28a745; }
.red-background { background-color: #dc3545; }
.black-background { background-color: #000000; }

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px; 
  }
  
  .item {
    flex: 1 1 200px; 
  }
  
  @media (max-width: 600px) {
    .container {
      flex-direction: column; 
    }
  }
  
  .special-numbers-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Отступ между специальными числами и основной таблицей */
}

.roulette-number.special {
    width: 10px; /* Установите желаемую ширину */
    height: 10px; /* Установите желаемую высоту */
    text-align: center;
    border: 1px solid #fff;
    margin-bottom: 10px; /* Отступ между специальными числами */
    background-color: green; /* Зеленый фон для специальных чисел */
    color: white; /* Белый текст */
}

.roulette-table-container {
  max-width: 900vw;
  overflow: auto;
  background-image: url('/static/images/static-green.png');
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.roulette-table {
  border-collapse: collapse;
  min-width: 600px; /* Минимальная ширина для больших экранов */
}

.roulette-table td {
  width: 14vw; /* Ширина ячеек в процентах от ширины экрана */
  height: 6vw; /* Высота, чтобы ячейки были квадратными */
  text-align: center;
  color: white;
  border: 1px solid #fff;
  padding: 10px 0;
}

.guessed-numbers-container {
  margin-top: 20px; /* Отступ от стола рулетки */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.guessed-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* или другой размер, который тебе нужен */
  height: 50px; /* или другой размер, который тебе нужен */
  border-radius: 50%; /* Делает элемент круглым */
  margin: 5px;
  font-size: 14px; /* Размер шрифта для чисел */
  color: white; /* Цвет текста */
  font-weight: bold; /* Жирность текста */
}

.red-background { background-color: red; }
.black-background { background-color: black; }
.green-background { background-color: green; }

.menu-button {
  /* Стили для кнопки меню */
  background-color: #17a2ff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-menu ul {
  /* Стили для списка в меню */
  list-style-type: none;
  padding: 0;
}

.dropdown-menu ul li a {
  /* Стили для ссылок в меню */
  display: block;
  padding: 10px;
  background-color: #76ff7d00;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.dropdown-menu ul li a:hover {
  /* Стили для ссылок при наведении */
  background-color: #214b05ee;
}



body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #ffffff;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.main {
  padding: 20px;
}

.guide-section {
  margin-bottom: 20px;
}

.guide-section h2 {
  color: #ff0000c0;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}

.guide-section p, .guide-section ul {
  font-size: 16px;
  line-height: 1.6;
}

.guide-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Дополнительные стили для кнопок и других элементов */
/* Стили для FAQ */
.faq-section {
  margin-bottom: 20px;
}

.faq-section h2 {
  background-color: #007700;
  color: white;
  text-align: center;
  padding: 10px 15px;
  margin: 0;
  border-radius: 5px;
}

.faq-section dl {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #dddddd00;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
}

.faq-section dt {
  padding: 10px 0;
  border-bottom: 1px solid #06a5369c;
  font-weight: bold;
  cursor: pointer;
}

.faq-section dd {
  padding: 10px 0 20px 0;
  margin-left: 20px;
  display: none; /* Скрыть ответы по умолчанию */
}

/* Стили для отображения ответа при активации вопроса */
.faq-section dt.active + dd {
  display: block; /* Показать ответ */
}

/* Стили для вопросов при наведении */
.faq-section dt:hover {
  background-color: #008521;
  color: #ffffff;
}
/* Адаптация для мобильных устройств */
@media (max-width: 600px) {
  .roulette-table td {
      width: 14vw; /* Увеличение для мобильных устройств */
      height: 35px; /* Сохранение квадратной формы */
  }

  .roulette-table {
      min-width: 0; /* Убираем минимальную ширину для мобильных */
  }
}
/* Стили для ячеек '0' и '00', если требуется их отличать */
.roulette-table .green {
  background-color: #1eaa0bfd;
  height: 60px; /* Высота для '0' и '00', если нужно отличать */
}
  
  .green {
    background-color: #1eaa0bfd; /* Более темный оттенок зеленого для реализма */
  }
  
  .red {
    background-color: #d40000; /* Насыщенный красный цвет */
  }
  
  .black {
    background-color: #000;
  }
  .hsla {
    background-color: #aaff9f0c; /* Более темный оттенок зеленого для реализма */
  }
  
  .outside-bets {
    height: 35px;
    display: flex;
    justify-content: space-around; /* Равномерное распределение ставок */
    margin-top: 10px;
  }
  
  .outside-bets {
    height: 4%;
    display: flex; /* Устанавливаем отступы для контейнера, если нужно */
    padding-left: 35px; /* Больший отступ с левого края */
    padding-right: 35px; /* Меньший отступ с правого края */
    margin-top: 3px; /* Верхний отступ без изменений */
    text-align: center;
  }
  
  .outside-bet {
    flex-grow: 1;
    text-align: center;
    background: hsla(145, 87%, 79%, 0.068);
    color: #ffffff;
    line-height: 20px;
    border: 2px solid #fff;
    /* Отступы между ставками */
    margin: 0 2px; /* Если нужно изменить, установите свои значения */
  }
  
  /* Устанавливаем ширину каждой ставки, чтобы они были одинаковыми */
  .outside-bet {
    flex: 0 0 calc((100% - 40px) / 3); /* Вычитаем общие отступы между элементами (например, 40px) и делим на 3 */
  }
  
  /* Обнуляем отступы для крайних элементов, если это необходимо */
  .outside-bets .outside-bet:first-child {
    margin-left: 0;
  }
  
  .outside-bets .outside-bet:last-child {
    margin-right: 0;
  }
  
  .outside-gets {
    height: 35px;
    display: flex;
    justify-content: space-around; /* Равномерное распределение ставок */
    margin-top: 10px;
  }
  
  .outside-gets {
    height: 4%;
    display: flex;
    /* Устанавливаем отступы для контейнера, если нужно */
    padding-left: 20px; /* Больший отступ с левого края */
    padding-right: 20px; /* Меньший отступ с правого края */
    margin-top: 3px; /* Верхний отступ без изменений */
  }
  
  .outside-get {
    flex-grow: 1;
    text-align: center;
    background: hsla(145, 87%, 79%, 0.068);
    color: #ffffff;
    line-height: 20px;
    border: 2px solid #fff;
    /* Отступы между ставками */
    margin: 0 2px; /* Если нужно изменить, установите свои значения */
  }
  
  /* Устанавливаем ширину каждой ставки, чтобы они были одинаковыми */
  .outside-get {
    flex: 0 0 calc((100% - 40px) / 6); /* Вычитаем общие отступы между элементами (например, 40px) и делим на 3 */
  }
  
  /* Обнуляем отступы для крайних элементов, если это необходимо */
  .outside-gets .outside-get:first-child {
    margin-left: 0;
  }
  
  .outside-gets .outside-get:last-child {
    margin-right: 0;
  }
  
  
  .diamond {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%; /* Скругление углов для алмазов */
  }
  
  .red-diamond {
    background-image: url('/static/images/path-to-red-diamond-image.png');
  }
  
  .black-diamond {
    background-image: url('/static/images/path-to-black-diamond-image.png');
  }
  

.roulette-number:hover {
    background-color: #00630500;
}

footer {
  background-color: #4e4e4e7c;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}

.footer-content {
  width: 80%;
  margin: 0 auto;
  font-size: 0.8em;
}

footer a {
  color: #fd0d0d;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
