<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Предсказывание Рулетки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>Предсказывание рулетки GTA 5 RP</h1>
    </header>
    <main>
        <section>
            <h2>Введите последнее выпавшее число</h2>
            <input type="number" id="last-number" min="0" max="36" required>
            <p id="predictions">Введите последнее выпавшее число.</p>
        </section>
        <section>
            <h2>Стол Рулетки</h2>
            <div class="roulette-table-container">

                <table class="roulette-table">
                  <tr>  
                    <td class="roulette-number green" rowspan="3" data-number="0">0</td>
                    <td class="roulette-number green" rowspan="3" data-number="00">00</td>
                    <td class="roulette-number red" data-number="3">3</td>
                    <td class="roulette-number black" data-number="6">6</td>
                    <td class="roulette-number red" data-number="9">9</td>
                    <td class="roulette-number red" data-number="12">12</td>
                    <td class="roulette-number black" data-number="15">15</td>
                    <td class="roulette-number red" data-number="18">18</td>
                    <td class="roulette-number red" data-number="21">21</td>
                    <td class="roulette-number black" data-number="24">24</td>
                    <td class="roulette-number red" data-number="27">27</td>
                    <td class="roulette-number red" data-number="30">30</td>
                    <td class="roulette-number black" data-number="33">33</td>
                    <td class="roulette-number red" data-number="36">36</td>
                    <td class="hsla" class="green">3rd</td>
                  </tr>
                  <tr>

                    <td class="roulette-number black" data-number="2">2</td>
                    <td class="roulette-number red" data-number="5">5</td>
                    <td class="roulette-number black" data-number="8">8</td>
                    <td class="roulette-number black" data-number="11">11</td>
                    <td class="roulette-number red" data-number="14">14</td>
                    <td class="roulette-number black" data-number="17">17</td>
                    <td class="roulette-number black" data-number="20">20</td>
                    <td class="roulette-number red" data-number="23">23</td>
                    <td class="roulette-number black" data-number="26">26</td>
                    <td class="roulette-number black" data-number="29">29</td>
                    <td class="roulette-number red" data-number="32">32</td>
                    <td class="roulette-number black" data-number="35">35</td>
                    <td class="hsla" class="green">2nd</td>
                  </tr>
                  <tr>
                    <td class="roulette-number red" data-number="1">1</td>
                    <td class="roulette-number black" data-number="4">4</td>
                    <td class="roulette-number red" data-number="7">7</td>
                    <td class="roulette-number black" data-number="10">10</td>
                    <td class="roulette-number black" data-number="13">13</td>
                    <td class="roulette-number red" data-number="16">16</td>
                    <td class="roulette-number red" data-number="19">19</td>
                    <td class="roulette-number black" data-number="22">22</td>
                    <td class="roulette-number red" data-number="25">25</td>
                    <td class="roulette-number black" data-number="28">28</td>
                    <td class="roulette-number black" data-number="31">31</td>
                    <td class="roulette-number red" data-number="34">34</td>
                    <td class="hsla" class="green">1st</td>
                  </tr>
                </table>
            
                <div class="outside-bets">
                  <div class="outside-bet">1-12</div>
                  <div class="outside-bet">13-24</div>
                  <div class="outside-bet">25-36</div>
                </div>
            
                <div class="outside-gets">
                  <div class="outside-get">1-18</div>
                  <div class="outside-get">EVEN</div>
                  <div class="outside-get red-diamond"></div>
                  <div class="outside-get black-diamond"></div>
                  <div class="outside-get">ODD</div>
                  <div class="outside-get">19-36</div>
                </div>
        </section>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var rouletteNumbers = document.querySelectorAll('.roulette-number');

            rouletteNumbers.forEach(function (number) {
                number.addEventListener('click', function () {
                    var lastNumberInput = document.getElementById('last-number');
                    lastNumberInput.value = this.dataset.number;
                    // Отправляем форму автоматически после выбора числа
                    lastNumberInput.form.submit();
                });
            });
        });
    </script>
</body>
</html>
